body {
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  font-family: serif;
}

@media only screen and (min-width:601px) {
  body {
    max-width: 80%;
    line-height: 1.25em;
  }
}

@media only screen and (min-width:1401px) {
  body {
    max-width: 50%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e20;
    color: #bdc1c6;
  }
}

.article-meta {
  font-size: 0.90em;
  line-height: 1em;
}

article > section {
  text-align: justify;
}

.home-footer {
  font-size: 1em;
  line-height: 1em;
  text-align: right;
}

h1 {
  margin-bottom: 5px;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code {
  background: #f9f9f9;
  font-family: monospace;
}
pre code {
  background: none;
}

figure {
  text-align: center;
}
figure > img {
  max-width: 100%;
}
figure > figcaption {
  font-size: 0.9em;
  line-height: 1em;
  font-style: italic;
}

.may-also-like {
  font-size: 0.9em;
}
.may-also-like > h1 {
  margin-bottom: 0;
}
